body{
    background-color:black;
}

p{
    color: #ffffff;
    font-family: Marvin; sans-serif;
    position: relative; bottom:-300px; text-align: center;
    font-size: 5vw;
}

img{
    width: 50px;
    position: relative;
    top: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1000px) {
    p{
        font-size: 35px;
    }
}
