body {
    background-color: #ff6f00;
}

.container{
    display: flex;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 98vh;
    /* background-color: pink;
    border: 3px solid black */
}

.sugars{
    color: black;
    font-family: marvin;
    font-size: 2.8rem;
    text-decoration: none;
}

.button{
    display: flex;
    color: black;
    /* background-color: orchid; */
    padding: 2em;
    font-family: 'Courier Prime', monospace;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s linear;
}

.button:hover{
    color: white;
}

.blog-area{
    display: flex;
    align-items: center;
}

.border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 98vh;
    /* background-color: pink;
    border: 3px solid black */
}

.blog-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69%;
    height: 97vh;
    /* background-color: white;
    border: 3px solid black */
}

.blog-divison{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sugars-box{
    display: flex;
    height: 16vh;
    justify-content: center;
    align-items: center;
    /* background-color: lightskyblue; */
}

.blog-sugars{
    color: black;
    font-family: marvin;
    font-size: 2.8rem;
    text-decoration: none;
    transition: all 0.3s linear;
}

.blog-sugars:hover{
    color: white;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
    /* background-color: lightslategrey; */
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
}

.soundcloud{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    /* background-color: lightskyblue; */
}

.article-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.article{
    width: 80ch;
    height: 54vh;
    padding: 1vh;
    font-size: 1rem;
    font-family: 'Courier Prime', monospace;
    color: black;
}

.scwh{
    width:650px
}


