* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ff6f00;
    overflow: hidden;
}

.container {
    display: grid;
    gap: 1em;
    grid-template-columns: auto 1fr auto;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 280px;
    transition: all 0.15s linear;
    order: 1;
    cursor: pointer;
}

img:hover {
    transform: scale(1.05);
}

p {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-family: 'Courier Prime', monospace;
    color: black;
    order: 2;
}